body {
    font-family: 'Rubik';
    background-color: #212a36;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

.mdl-layout__tab {
    font-size: 15.6px;
}

.mdl-layout__header, .mdl-layout__tab-bar {
    background-color: #28323e;
    color: #ffffff;
}

.mdl-layout__tab-ripple-container {
    border-radius: 15px;
}

.mdl-layout__tab.is-active::after {
    background: #1c87ab!important;
    border-radius: 4px!important;
    height: 3.8px!important;
    width: 78%!important;
    left: 10%!important;
}

.mdl-layout__drawer {
    background-color: #1e2731;
    color: #ffffff;
}

.mdl-layout-title {
    font-family: 'Rubik';
    font-weight: 550;
}

.mdl-button, .mdl-js-button {
    background-color: #187a9b!important;
    border-radius: 20px;
    font-weight: 550;
    font-size: 14.7px;
    color: #ffffff;
}

.mdl-button:hover, .mdl-js-button:hover {
    background-color: rgb(17, 75, 96)!important;
}