body {
    font-family: 'Rubik';
    background-color: #212a36;
    user-select: none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik';
    color: #ffffff;
}

.mdl-layout__tab {
    font-size: 15.6px;
}

.mdl-layout__header, .mdl-layout__tab-bar {
    background-color: #334964;
    color: #ffffff;
}

.mdl-layout__tab-ripple-container {
    border-radius: 15px;
}

@keyframes autochange {
  0% {
    background-color: #176f8c;
  }
  50% {
    background-color: rgba(73, 104, 114, 0.393)
  }
  75% {
    background-color: #176f8c;
  }
  100% {
    background: none;
  }
}

.autochange {
    border-radius: 12px;
    animation: autochange 1.85s ease-out;
}

.mdl-layout__tab.is-active::after {
    background: #1c87ab!important;
    border-radius: 4px!important;
    height: 3.8px!important;
    width: 78%!important;
    left: 10%!important;
}

.mdl-layout__drawer {
    background-color: #1e2731;
    color: #ffffff;
}

.mdl-layout-title {
    font-family: 'Rubik';
    font-weight: 550;
}

.mdl-button, .mdl-js-button {
    background-color: #187a9b!important;
    font-family: 'Rubik';
    border-radius: 20px;
    font-weight: 550;
    font-size: 14.7px;
    color: #ffffff;
}

.mdl-button:hover, .mdl-js-button:hover {
    background-color: rgb(17, 75, 96)!important;
}